* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}
body{
    background-color: #708090;
}
nav {
    min-width: 4rem;
}
.nav__container{
    display: flex;
    align-items: center;
    min-height: 97vh;
    background-color: #666666;
    color: red;
    font-size: 1.2rem;
    position: fixed;
    width: 6vw;
}

.nav__container-options{
    text-align: center;
}
.nav__container-options ul{
    list-style: none;
}
.nav__container-options li i{
    color: red;
}
.nav__container-options li{
    margin-top: 2rem;
}
.nav__container-options a{
    text-decoration: none;
    color: red;
}
#afk{
    display: none;
}
main{
    height: 97vh;
}
.main__container{
    display: flex;
}
.main__container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100vh;
    text-align: center;
    font-size: 2rem;
    position: fixed;
    left: 6vw;
}
.main__container-info img{
    width: 75%;
}
.main__container-info img:hover{
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    width: 100%;
}
.main__container-info img:active{
    border: 0.5rem double black ;
    box-shadow: none;
}
table{
    margin: 0.5rem 0;
    width: 75%;
    border-collapse: collapse;
}
table tbody tr td input{
    background-color: #708090;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    border-radius: 10px;
    margin: 0.5rem 0;
}
table tbody tr td input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #787E82;
    border-radius: 0.6rem;
}
table thead{
    background-color: #AAB2B8;
}
thead{
    font-size: 1.5rem;
}
tbody{
    font-size: 1rem;
}
tbody tr:nth-child(odd){
    background-color: lightgray;
}
tbody tr:nth-child(even){
    background-color: ghostwhite;
}
.main__container-talenkennis{
    display: none;
}
.main__container-talenkennis ul{
    list-style: none;
}
.main__container-extra{
    justify-content: center;
    width: 60vw;
    text-align: center;
    margin: 0 0 0 30vw;
    box-sizing: border-box;
}
.main__container-extra h1{
    font-size: 5rem;
}
.main__container-extra p{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.main__container-cv{
    justify-content: center;
    width: 50vw;
    text-align: center;
    margin: 0 0 0 30vw;

}
.main__container-cv h1{
    font-size: 5rem;
}
.main__container-cv p{
    font-size: 2rem;
    margin: 1rem;
}
.main__container-werk__nr1, .main__container-werk__nr2, .main__container-studie__nr1, .main__container-studie__nr2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
}
.main__container-cv ul{
    list-style: none;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.main__container-contact {
    display: flex;
    width: 50vw;
    text-align: center;
    margin: 0 0 0 30vw;
}
.main__container-contact ul{
    list-style: none;
    font-size: 2rem;
    padding-bottom: 2rem;
}
footer{
    position: fixed;
    background-color: #666666;
    width: 100vw;
    height: 6vh;
}
.footer__container{
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

@media screen and (max-width: 78rem) {
    .nav__container{
        min-width: 4rem;
    }
    #full{
        display: none;
    }
    #afk{
        display: inline-block;
        width: 6vw;
    }
    .main__container-info{
        left: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .nav__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 8vh;
        min-height: unset;
        justify-content: center;
    }

    .nav__container ul {
        display: flex;
        margin-top: -1rem;
        width: 60vw;
        justify-content: space-between;
    }

    .nav__container li {
        display: block;
    }

    .main__container {
        margin-top: 8vh;
        display: block;
        margin-bottom: 3rem;
    }

    .main__container-info {
        height: 10rem;
        margin-top: 16rem;
        left: 0;
        width: 90vw;
        position: static;
    }

    .main__container-info img:hover {
        width: 75%;
    }
    .main__container-cv{
        margin: 18rem auto 3rem auto;
        align-content: center;
    }
    .main__container-extra, .main__container-studie, .main__container-contact{
        margin: 12rem auto 3rem auto;
        align-content: center;
    }
    .main__container-extra h1, .main__container-cv h1{
        font-size: 3.5rem;
    }
    table{
        display: none;
    }
    .main__container-talenkennis{
        display: flex;
    }
    .main__container-werk__nr1, .main__container-werk__nr2, .main__container-studie__nr1, .main__container-studie__nr2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .main__container-studie{
        margin-top: -1rem;
    }
    .main__container-cv li{
        margin-top: 1rem;
    }
    .main__container-contact{
        justify-content: center;
    }
    footer{
        bottom: 0;
        height: 2rem;
    }

}